* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-size: 1.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1280px;
}

.content {
  background-color: whitesmoke;
  margin-bottom: 100px;
  margin-top: 100px;
  color: black;
  font-size: 16px;
  padding: 1em;
}

.pagename {
  color: rgb(13, 100, 10);
}

.navbar-top-list {
  margin: 2px;
  padding: 2px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navbar-top-link {
  display: block;
  padding: 1em 1em;
  background-color: rgb(248, 247, 247);
  color: black;
  text-transform: uppercase;
  font-weight: 450;
  transition: 0.3s;
  text-decoration: none;
}

.navbar-top-link:hover {
  background-color: #c20e14;
  color: white;
  transform: scale(1.2);
}

.wallpaper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(photo/cr5.jpeg);
  background-color: rgb(227, 230, 231);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}

.wallpaper2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(photo/backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}

.wallpaper3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(photo/текстуракожа.jpg);
  background-repeat: repeat;
}

.footer {
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  margin-top: auto;
  background-color: lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 0;
  width: 100vw;
  text-align: center;
  position: fixed;
}

.footer-text {
  padding: 5px;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 20px;
}

.slide-gallery {
  border: 20px solid rgb(71, 255, 126);
  margin: 10px;
}

.slide-gallery:hover {
  border: 20px solid red;
  margin: 10px;
}

.container--gallery {
  display: flex;
  justify-content: space-around;
}

.new::after {
  content: "NEW";
  background: red;
  color: white;
  font-size: 80%;
  padding: 4px;
  margin-left: 4px;
}

.sublist {
  list-style: outside url(photo/iconshoes.png);
  font-size: 15px;
  background-color: rgb(52, 165, 42);
  color: rgb(2, 2, 2);
  margin: 5px;
  padding: 1em 2em 1em;
}

.list-catalog {
  list-style: outside url(photo/iconmark.png);
  font-size: 18px;
  background-color: rgb(216, 212, 212);
  color: brown;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 2em 1em;
  margin: 2em;
}

.articles-list {
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.articles-link {
  background-color: rgb(248, 247, 247);
  padding: 1%;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  color: rgb(13, 100, 10);
}

.articles-link:hover {
  background-color: #c20e14;
  color: white;
  transform: scale(1.2);
}

.articles-comment {
  color: green;
}

.articles-comment:hover {
  color: red;
}

.new-articles-read {
  color: green;
  font-weight: 500;
  transition: 0.5s;
}

.new-articles-read:hover {
  color: red;
}

.new-articles-link {
  border-bottom: 0.7px solid white;
  color: red;
}

.new-articles {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
}

.p-articles::first-letter {
  color: brown;
  font-size: 20px;
  font-weight: 800;
  float: left;
  border: 2px solid rgb(15, 148, 37);
  background-color: rgb(240, 186, 186);
  padding: 10px;
  margin-right: 10px;
}

.contacts {
  text-align: center;
}

/* forms and buttons */
fieldset {
  max-width: 500px;
  margin: 25px auto;
  background-color: #c1fac9;
  font-size: 14px;
  font-weight: 500;
  border-style: solid;
  border-color: #25773e;
}

input {
  width: 100%;
  padding: 10px 20px;
}

input[type="file"] {
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 10px 20px;
  min-height: 75px;
  max-height: 33vh;
}

.form-group {
  margin: 15px 0 5px;
}

.form-group-sm {
  margin: 10px 0 5px;
}

.button {
  width: 100%;
  padding: 10px 20px;
  text-transform: uppercase;
  color: brown;
  background-color: white;
  border: 1px solid;
  font-weight: 700;
}

.button:hover {
  color: white;
  background-color: green;
}

legend {
  color: brown;
  text-transform: uppercase;
}

.input-name {
  text-transform: capitalize;
}